useDynLib(fastLISA, .registration = TRUE)

export(local_moran_bv)
export(local_moran)
export(local_moran_eb)
export(local_geary)
export(local_multigeary)
export(local_g)
export(local_gstar)



importFrom(stats, median, sd)
